/* Override some defaults */
body {
    padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}
body, html {
    background-color: #eee;
}
.container > footer p {
    text-align: center; /* center align it with the container */
}
footer {
    margin-top: 10px;
}
/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    min-height: 500px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* homepage */
.homepage textarea {
    font-family: monospace;
}
.homepage .examples a, .homepage .examples a:hover {
  border-bottom: 1px dotted #999;
  text-decoration: none;
}
.homepage .alert-success, .homepage .alert-error {
    margin-bottom: 0;
}
.homepage #message {
    display: none;
}
/* Tablesorter styling */
table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.monospace, .monospace p {
    font-family: monospace;
}

/* results page */
.results-done label input {
    display:inline;
    margin-right: 5px;
}
.results-done .hover-link-icon {
    display:none;
}
.results-done .hover-link:hover .hover-link-icon {
    margin-left: 3px;
    display: inline;
}
.results-done td:nth-of-type(2) {
    width:100px;
}
.results-done label {
    display:inline;
}
.addthis_toolbox {
    margin-right: 10px;
    margin-top: 7px;
}
#query-interpretation {
    margin-top: 1em;
}
.ss-thumbnail {
    width: 120px;
}
.loop-result {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.loop-result:hover {
  background-color: #f5f5f5;
}
.odd-result {
  background-color: #f9f9f9;
}
.frame {
  fill: #fff;
  fill-opacity: 0;
  stroke: #aaa;
}
