<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="http://rna.bgsu.edu/jar3d">JAR3D</a>
      <div class="nav-collapse navbar-inverse-collapse">
        <ul class="nav">
          <li><a href="http://rna.bgsu.edu/main/jar3d-help">Help</a></li>
          <li><a href="http://rna.bgsu.edu/main/contact-us">Contact Us</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                RNA 3D Hub
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://rna.bgsu.edu/rna3dhub/pdb">RNA Structure Atlas</a></li>
                <li><a href="http://rna.bgsu.edu/rna3dhub/nrlist">Non-redundant Lists</a></li>
                <li><a href="http://rna.bgsu.edu/rna3dhub/motifs">RNA 3D Motif Atlas</a></li>
                <li class="divider"></li>
                <li><a href="http://rna.bgsu.edu/rna3dhub">RNA 3D Hub Home</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Resources
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://rna.bgsu.edu">RNA BGSU Home</a></li>
                <li class="divider"></li>
                <li><a href="http://rna.bgsu.edu/FR3D/basepairs">Basepair Catalog</a></li>
                <li><a href="http://rna.bgsu.edu/webfr3d">WebFR3D</a></li>
                <li><a href="http://rna.bgsu.edu/jar3d">JAR3D</a></li>
                <li class="divider"></li>
                <li><a href="https://github.com/BGSU-RNA/WebR3DAlign">Github</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>


