    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

	     <a class="brand" href="{{BASE}}/rna3dhub" title="JAR3D" rel="homepage" target="_blank">RNA 3D Hub</a>

          <div class="nav-collapse">
			<ul id="menu-site-wide-menu" class="nav">

			<li id="menu-item-1241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1241"><a href="{{BASE}}/rna3dhub/pdb" target="_blank">RNA Structure Atlas</a></li>

			<li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page dropdown menu-item-98"><a href="javascript:;"  class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="https://www.bgsu.edu/research/rna/web-applications/webfr3d.html" >WebFR3D</a></li>
				<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="{{BASE}}/jar3d/" >JAR3D</a></li>
				<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="https://www.bgsu.edu/research/rna/software/fr3d.html" >FR3D</a></li>
			</ul>
			</li>
		<li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page dropdown menu-item-99"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Databases <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li id="menu-item-485" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-485"><a href="{{BASE}}/rna3dhub/motifs" >RNA 3D Motif Atlas</a></li>
			<li id="menu-item-566" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-566"><a href="{{BASE}}/rna3dhub/nrlist" >Representative sets</a></li>
			<li id="menu-item-567" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-567"><a href="{{BASE}}/rna3dhub/loops" >Loop Atlas - under construction</a></li>
			<li id="menu-item-568" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-568"><a href="https://www.nakb.org/ndbmodule/bp-catalog/" >RNA Basepair Catalog</a></li>
			<li id="menu-item-569" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-569"><a href="{{BASE}}/FR3D/BasePhosphates/" >RNA Base Phosphate Catalog</a></li>
			<li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"><a href="https://www.bgsu.edu/research/rna/databases/triples.html" >RNA Base Triple Database</a></li>
		</ul>
		</li>

		<li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page dropdown menu-item-121"><a href="javascript:;"  class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li id="menu-item-996" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-996"><a href="https://www.bgsu.edu/research/rna.html" >BGSU RNA group</a></li>
			<li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96"><a href="https://www.bgsu.edu/research/rna/people.html" >People</a></li>
			<li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="https://www.bgsu.edu/research/rna/publications.html" >Publications</a></li>
		</ul>
		</li>

		<li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="https://www.bgsu.edu/research/rna/contact-us.html" >Contact us</a></li>
		</ul>

	</div>
	</div>
	</div>
	</div>
